<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>菜单</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/userinfo/user-info">个人信息</a>
      <a mat-list-item href="/userinfo/account">账号信息</a>
      <a mat-list-item href="/">asnowtree-主页</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>用户设置</span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<div class="all-page">
  <p-sidebar [(visible)]="visibleSidebar1" style="width: auto;" [baseZIndex]="10000" style="background-color: aquamarine;">
    <h3>菜单</h3>
    <mat-nav-list>
    <a mat-list-item href="/userinfo/user-info">用户账号</a>
    <a mat-list-item title="首页" href="/" style="display: flex;align-content: center;">首页<mat-icon inline="true" aria-label="Side nav toggle icon" style="font-size: 2rem; margin-block-end: -4px;" >home</mat-icon>
      <!-- <i class="material-icons">home</i> -->
      <!-- <mat-icon inline="true" aria-label="Side nav toggle icon" style="font-size: 2rem; " >home</mat-icon> -->
    </a>
        <!-- <a mat-list-item href="/">asnowtree-主页</a> -->
      </mat-nav-list>
  </p-sidebar>
  <div style="display: flex;">
    <div class="panel-menu">
      <h3>菜单</h3>
      <mat-nav-list>
      <a mat-list-item href="/userinfo/user-info">用户账号</a>
          <!-- <a mat-list-item href="/userinfo/account">账号信息</a> -->
          <!-- <a mat-list-item href="/">asnowtree-主页</a> -->
          <a mat-list-item title="首页" href="/" style="display: flex;align-content: center;">首页<mat-icon inline="true" aria-label="Side nav toggle icon" style="font-size: 2rem;margin-block-end: -4px;" >home</mat-icon>
          </a>
          
          <!-- <a href="/" style="display: flex; align-content: center;flex-wrap: wrap;" title="主页" >
                   </a> -->
        </mat-nav-list>
    </div>
    <div class="panel-content">
      <nav>
        <div class="nav-div" style="align-content: center;" >
          
          <div class="nav-title"><h2>用户信息管理</h2></div>
          <div class="nav-menu" style="margin-inline-start: auto;" >
            <mat-icon title="菜单" inline="true"  aria-label="Side nav toggle icon" class="show-hide" style="margin-inline-end: 0.5rem;font-size: 2rem;" (click)="visibleSidebar1 = true">menu</mat-icon>
            <p-avatar id="p-avatar-img" image="/b/avatar/" styleClass="mr-2"  shape="circle"></p-avatar> 
          </div>

        </div>
      </nav>
      <div style="overflow: auto;height: 100%;">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </div>
</div>


<!-- <p-button class="mr-2 menu" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button> -->
