.account-edit{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.input-line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.accountpage{
    display: flex;
    width: auto;
}